@import "tailwindcss";

:root {
  --background: #0b1125;
  --surface: #20273e;

  --foreground: #e3e3e3;
  --muted-foreground: #c9c9c9;

  --primary: #1876d2;
  --primary-foreground: #ffffff;

  --border: #2b344f;
}

@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-foreground: var(--foreground);

  --font-inter: var(--font-inter);
  --font-space: var(--font-space);
  --font-montserrat: var(--font-montserrat);

  --font-sans: var(--font-inter);
  --font-heading: var(--font-space);
  --font-accent: var(--font-montserrat);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
